.messages {
    padding:10px;

}
img {
    width:50px;
}
.wrapper {
    /*display:flexbox;*/
}
.message {

    color:#fff;
    background-color: rgba(7, 158, 167, 0.55);
    padding: 10px;
    border-radius: 50%;
    width: 50%;
    text-align: center;
    margin-top: 10px;
}

.active {
    color: #16af6c;
}